<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="shared/layout">
<head>
</head>
<body>
<th:block layout:fragment="content">
    <div class="row page-titles">
        <div class="col-md-6 col-8 align-self-center">
            <h3 class="text-themecolor m-b-0 m-t-0">Registrar Demanda</h3>
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="javascript:void(0)">Home</a></li>
                <li class="breadcrumb-item"><a href="javascript:void(0)">Demanda</a></li>
                <li class="breadcrumb-item active">Registrar</li>
            </ol>
        </div>
    </div>

    <div class="col-lg-12 col-xlg-12 col-md-12">
        <div class="card">
            <div class="card-block">
                <form class="form"  th:action="@{/app/demanda/guardar}"
                      th:object="${demanda}" method="post" method="post">
                    <div th:replace="shared/errores :: errores"></div>
                    <div class="row">
                        <div class="col-lg-6">
                            <fieldset>
                                <legend>Principales</legend>
                                <div th:if="${demanda.id != null}">
                                    <input type="hidden" th:field="*{id}"/>
                                </div>
                                <div class="form-group">
                                    <label class="control-label  col-md-8">Producto</label>
                                    <div class="col-md-8">
                                        <select class="form-control input-sm" th:field="*{productoObj.id}">
                                            <option value="-1">Seleccione un producto</option>
                                            <option th:each="producto : ${productos}" th:value="${producto.id}" th:text="${producto.productos}"></option>
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label  col-md-8">Periodo</label>
                                    <div class="col-md-8">
                                        <select class="form-control input-sm" th:field="*{periodoObj.id}">
                                            <option value="-1">Seleccione un periodo</option>
                                            <option th:each="periodo : ${periodos}" th:value="${periodo.id}" th:text="${periodo.mes}"></option>
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-md-8">Demanda*</label>
                                    <div class="col-md-8">
                                        <input type="text"  class="form-control form-control-line"
                                                max="10" th:field="*{demanda}">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-sm-12">
                                        <button class="btn btn-success" type="submit">Guardar cambios</button>
                                    </div>
                                </div>
                            </fieldset>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</th:block>
</body>
</html>