<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="shared/layout">
<head>
</head>
<body>
<th:block layout:fragment="content">
    <div class="row page-titles">
        <div class="col-md-6 col-8 align-self-center">
            <h3 class="text-themecolor m-b-0 m-t-0">Reportes</h3>
        </div>
    </div>

    <div class="row">

    </div>
</th:block>
</body>
</html>