<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
</head>
<body>
<div th:fragment="errores" th:if="${#fields.hasErrors('*')}" class="col-md-12 alert alert-danger">
    <button type="button" class="close" data-dismiss="alert" aria-hidden="true"></button>
    <ul>
        <li th:each="err : ${#fields.errors('*')}" th:text="${err}" >Error</li>
    </ul>
</div>

<div th:fragment="general-errors" th:if="${error}" class="col-md-12 alert alert-danger">
    <button type="button" class="close" data-dismiss="alert" aria-hidden="true"></button>
    <p th:text="${error}"></p>
</div>
</body>
</html>