<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
</head>
<body>
<div th:fragment="menu">
    <aside class="left-sidebar">
        <!-- Sidebar scroll-->
        <div class="scroll-sidebar">
            <!-- Sidebar navigation-->
            <nav class="sidebar-nav">
                <ul id="sidebarnav">
                    <li>
                        <a th:href="@{/app/usuario/index}" class="waves-effect"><i class="fa fa-clock-o m-r-10" aria-hidden="true"></i>Dashboard</a>
                    </li>
                    <li>
                        <a th:href="@{/app/proveedor/}" class="waves-effect"><i class="fa fa-user m-r-10" aria-hidden="true"></i>Proveedores</a>
                    </li>
                    <li>
                        <a th:href="@{/app/periodos/}" class="waves-effect"><i class="fa fa-clock-o m-r-10" aria-hidden="true"></i>Periodos</a>
                    </li>
                    <li>
                        <a th:href="@{/app/categoria/}" class="waves-effect"><i class="fa fa-font m-r-10" aria-hidden="true"></i>Categorias</a>
                    </li>
                    <li>
                        <a th:href="@{/app/productos/}"class="waves-effect"><i class="fa fa-cubes m-r-10" aria-hidden="true"></i>Productos</a>
                    </li>
                    <li>
                        <a th:href="@{/app/demanda/}"class="waves-effect"><i class="fa fa-tasks m-r-10" aria-hidden="true"></i>Demanda</a>
                    </li>
                </ul>
            </nav>
            <!-- End Sidebar navigation -->
        </div>
        <!-- End Sidebar scroll-->
    </aside>
</div>
</body>
</html>